<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style/recicla.css" />
    <title>Recicla</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('inicio')}}">Learn To Recycle</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('inicio')}}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <form id="container" action="/upload" method="POST" enctype="multipart/form-data">
      <h1>Show me we are going to recycle!</h1>
      <section class="text-center">
        <input class="video" id="archivoInput" type="file" name="archivo"  onchange="validarExt()">
        <button type="submit" id="Enviar" name="Enviar" >Send</button>
        <br />
        <br />
        <div id="visorArchivo"></div>
        <br />
        {% for answer in answers %}
          {% if (answer != 'Green Container Trash') and (answer != 'Blue Container Trash') and (answer != 'Gray Container Trash')   %}
            <h1 style="color:black">{{answer}}</h1>
          {% endif %}

          {% if (answer == 'Glass') or (answer == 'Bottles') or (answer == 'Metal')%}
            <img style="width:150px" src="../static/img/azul.png" alt="imagen azul">
          {% elif (answer == 'Cardboard') or (answer == 'Paper') %}
            <img style="width:150px" src="../static/img/canecagis.png" alt="imagen gris">
          {% elif (answer == 'Trash') %}
            <img style="width:150px" src="../static/img/canecaverde.png"  alt="imagen verde">
          {% endif %}
        {% endfor %}
      </section>
    </div>
    </form>
    <script type="text/javascript" src="../static/js/recicla.js"></script>
  </body>
</html>
